@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  color: #001a33;
  box-sizing: border-box;
}

.card-wrapper {
  height: 600px;
  width: 360px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
}

.info-section {
  box-sizing: border-box;
  background-color: rgb(242, 245, 248);
  position: absolute;
  z-index: 1;
  width: 330px;
  padding: 0 15px;
  bottom: 0px;
  left:calc(50% - 165px);
  height: 175px;
  overflow: hidden;
  transition: all 0.75s ease;
  
}
.info-section:after {
  
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  content: "";
  background: linear-gradient(
    to top,
    rgba(242, 245, 248, 1) 20%,
    rgba(255, 255, 255, 0) 80%
  );
  pointer-events: none;
}
.info-section.agrandar {
  height: 601px;
  width: 360px;
  margin-left: 0;
  border-radius: 10px;
  left: 0;
}
.plus-container {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: inherit;
}
.plus {
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
  z-index: 2;
  fill: #04b7ac;
  transition: all 0.3s linear;
  cursor: pointer;
  
}

.info-section.agrandar .plus {
  transform: rotate(180deg);
  fill:#044fb8;
  
}
